@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #5C4631;
    font-family: "DM Sans";
}

.container {
    margin: auto;
    background-color: #5f4529;
    filter: drop-shadow(0px 0px 2px #000000);
    width: 60%;
    height: 100vh;
}

.livros {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.livros h2 {
    color: white;
}

.livro {
    padding: 10px 15px;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.livro-info {
    display: flex;
    flex-direction: column;
}

.livro-btn {
    background: #a37b0b;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 18px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background 0.2s;
}
.livro-btn:hover {
    background: #5C4631;
}

.livro-btn span {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    line-height: 1;
}

.livro-btn i {
    position: relative;
    font-size: 20px;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    width: 160px;
    height: 100%;
    background-color: #5f4529;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px 10px; */
    transition: width 0.3s ease, background 0.3s ease;
    filter: drop-shadow(0px 0px 2px #000000);
}

.sidebar button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px 0px;
    background: transparent;
    border: 0;
    font-family: inherit;
    color: white;
    cursor: pointer;
    text-align: left;
    padding: 16px 24px;
    padding-left: 24px;
    transition: all 0.2s;
}

.sidebar button > span {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    line-height: 1;
}

.sidebar button:hover{
    background: rgba(255, 255, 255, 0.08);
}

.sidebar button i {
    position: relative;
    font-size: 24px;
    transition: 0.2s;
}

.sidebar button span {
    font-size: 14px;
}

.sidebar nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar button:last-child{
    margin-top: auto;
}

.linha {
    width: 100%;
    background-color: #a0a0a03f;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
}